#root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: black; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* display: grid; */
}

#App {
  z-index: -4;
  position: relative;
  background-color: black;
  display: grid;
  grid-template-rows: 100px 100vh;
}

#head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: aliceblue;
  height: 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-row: 1;
}

#name {
  margin-left: 30px;

}

#buttons {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
  gap: 10px;
  font-size: 19px;

}

#navTitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ResumeContainer {
  position: relative;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow-x: scroll; */
  height: 600px;
}

@keyframes orbit {
  0% {

    transform: translate(-30px, 50px) scale(.8);
    z-index: -1;
  }

  50% {
    transform: translate(500px, -50px) scale(1);
    z-index: -1;
  }

  50.0001% {
    transform: translate(500px, -50px) scale(1);
    z-index: 3;
  }

  100% {
    transform: translate(-30px, 50px) scale(.8);
    z-index: 3;
  }
}


#moon {
  animation-name: orbit;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  padding-right: 500px;
  scale: 1.1;
}

#homeName {
  position: absolute;
  color: white;
}

#linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 150px;
  left: 48%;
  transform: translate(-50%, -50%);
}

#github:hover {
  scale: 1.3;
  cursor: pointer;
}

#linkedIn {
  padding: 3px 10px;
}

#linkedIn:hover {
  scale: 1.3;
  cursor: pointer;
}

#github {
  padding: 0px 10px;
}

#resumeImg {
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  /* margin-top: 500px; */
}

#content {
  grid-row: 2;
}

